accelerate==1.10.1
minio==7.2.12
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-cors==0.7.0
aiokafka==0.12.0
aiosignal==1.3.2
airportsdata==20241001
alembic @ file:///C:/b/abs_75gklaimsd/croot/alembic_1751043023420/work
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.7.0
applicationinsights==0.11.10
argcomplete==3.5.3
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/b/abs_f11axiliot/croot/argon2-cffi-bindings_1736182463870/work
asgiref==3.8.1
astor==0.8.1
asttokens==3.0.0
async-timeout==5.0.1
atlas-rag==0.0.4.post1
attrs==24.3.0
av==14.0.1
azure-ai-agents==1.1.0
azure-ai-inference==1.0.0b9
azure-ai-projects==1.0.0
azure-appconfiguration==1.7.1
azure-batch==15.0.0b2
azure-cli==2.76.0
azure-cli-core==2.76.0
azure-cli-telemetry==1.1.0
azure-common==1.1.28
azure-core==1.35.0
azure-cosmos==3.2.0
azure-data-tables==12.4.0
azure-datalake-store==1.0.1
azure-identity==1.24.0
azure-keyvault-administration==4.4.0b2
azure-keyvault-certificates==4.7.0
azure-keyvault-keys==4.11.0b1
azure-keyvault-secrets==4.7.0
azure-keyvault-securitydomain==1.0.0b1
azure-mgmt-advisor==9.0.0
azure-mgmt-apimanagement==4.0.0
azure-mgmt-appconfiguration==5.0.0
azure-mgmt-appcontainers==2.0.0
azure-mgmt-applicationinsights==1.0.0
azure-mgmt-authorization==4.0.0
azure-mgmt-batch==17.3.0
azure-mgmt-batchai==7.0.0b1
azure-mgmt-billing==6.0.0
azure-mgmt-botservice==2.0.0
azure-mgmt-cdn==12.0.0
azure-mgmt-cognitiveservices==13.5.0
azure-mgmt-compute==34.1.0
azure-mgmt-containerinstance==10.2.0b1
azure-mgmt-containerregistry==14.1.0b1
azure-mgmt-containerservice==38.0.0
azure-mgmt-core==1.6.0
azure-mgmt-cosmosdb==9.8.0
azure-mgmt-databoxedge==1.0.0
azure-mgmt-datalake-store==1.1.0b1
azure-mgmt-datamigration==10.0.0
azure-mgmt-eventgrid==10.2.0b2
azure-mgmt-eventhub==12.0.0b1
azure-mgmt-extendedlocation==1.0.0b2
azure-mgmt-hdinsight==9.0.0b3
azure-mgmt-imagebuilder==1.3.0
azure-mgmt-iotcentral==10.0.0b2
azure-mgmt-iothub==3.0.0
azure-mgmt-iothubprovisioningservices==1.1.0
azure-mgmt-keyvault==12.0.0
azure-mgmt-loganalytics==13.0.0b4
azure-mgmt-managementgroups==1.0.0
azure-mgmt-maps==2.0.0
azure-mgmt-marketplaceordering==1.1.0
azure-mgmt-media==9.0.0
azure-mgmt-monitor==7.0.0
azure-mgmt-msi==7.0.0
azure-mgmt-mysqlflexibleservers==1.0.0b3
azure-mgmt-netapp==10.1.0
azure-mgmt-policyinsights==1.1.0b4
azure-mgmt-postgresqlflexibleservers==1.1.0b2
azure-mgmt-privatedns==1.0.0
azure-mgmt-rdbms==10.2.0b17
azure-mgmt-recoveryservices==3.1.0
azure-mgmt-recoveryservicesbackup==9.2.0
azure-mgmt-redhatopenshift==1.5.0
azure-mgmt-redis==14.5.0
azure-mgmt-resource==23.3.0
azure-mgmt-resource-deployments==1.0.0b1
azure-mgmt-resource-deploymentscripts==1.0.0b1
azure-mgmt-resource-deploymentstacks==1.0.0b1
azure-mgmt-resource-templatespecs==1.0.0b1
azure-mgmt-search==9.2.0
azure-mgmt-security==6.0.0
azure-mgmt-servicebus==10.0.0b1
azure-mgmt-servicefabric==2.1.0
azure-mgmt-servicefabricmanagedclusters==2.1.0b1
azure-mgmt-servicelinker==1.2.0b3
azure-mgmt-signalr==2.0.0b2
azure-mgmt-sql==4.0.0b21
azure-mgmt-sqlvirtualmachine==1.0.0b5
azure-mgmt-storage==23.0.0
azure-mgmt-synapse==2.1.0b5
azure-mgmt-trafficmanager==1.0.0
azure-mgmt-web==9.0.0
azure-monitor-query==1.2.0
azure-multiapi-storage==1.4.1
azure-storage-blob==12.26.0
azure-storage-common==1.4.2
azure-synapse-accesscontrol==0.5.0
azure-synapse-artifacts==0.20.0
azure-synapse-managedprivateendpoints==0.4.0
azure-synapse-spark==0.7.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.13.4
blake3==1.0.0
bleach==6.2.0
blinker==1.9.0
boto3==1.39.4
botocore==1.39.4
cachetools==5.5.0
certifi==2024.12.14
cffi @ file:///C:/b/abs_29_b57if3f/croot/cffi_1736184144340/work
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.0
colorama==0.4.6
colorful==0.5.6
compressed-tensors==0.8.1
contourpy==1.3.1
cryptography @ file:///C:/b/abs_5eg9xpv31w/croot/cryptography_1748977441610/work
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.1.0
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
depyf==0.18.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
dnspython==2.7.0
docker==7.1.0
docopt==0.6.2
docstring_parser==0.16
ecdsa @ file:///croot/ecdsa_1731939382395/work
einops==0.8.0
email_validator==2.2.0
executing==2.2.0
fabric==3.2.2
faiss-cpu==1.12.0
fastapi==0.115.6
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.16.1
fire==0.7.0
Flask==3.1.0
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.9.0
gguf==0.10.0
google-api-core==2.24.0
google-auth==2.37.0
googleapis-common-protos==1.66.0
gradio==4.44.1
gradio_client==1.3.0
graphdatascience==1.16
greenlet @ file:///C:/b/abs_bbl_18a2tm/croot/greenlet_1733860081977/work
griffe==1.15.0
grpcio==1.68.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.27.0
humanfriendly==10.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
interegular==0.3.3
invoke==2.2.0
ipython==8.12.3
isodate==0.7.2
itsdangerous==2.2.0
javaproperties==0.5.2
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.5
jiter==0.12.0
jmespath==1.0.1
joblib==1.4.2
jose==1.0.0
json_repair==0.44.1
jsondiff==2.0.0
JsonForm==0.0.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
JsonSir==0.0.2
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
kafka==1.3.5
kafka-python==2.2.15
kiwisolver==1.4.8
knack==0.11.0
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-experimental==0.3.4
langchain-neo4j==0.5.0
langchain-openai==0.3.27
langchain-text-splitters==0.3.8
langsmith==0.4.5
lark==1.2.2
# Editable install with no version control (llamafactory==0.9.1)
-e d:\mylib\llama-factory-0.9.1
lm-format-enforcer==0.10.9
lxml==6.0.0
Mako @ file:///C:/ci_311/mako_1676442613377/work
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mcp==1.21.1
md2docx-python==1.0.0
mdurl==0.1.2
microsoft-security-utilities-secret-masker==1.0.0b4
mistral_common==1.5.1
mistune==3.1.3
mpmath==1.3.0
msal==1.33.0b1
msal-extensions==1.2.0
msgpack==1.1.0
msgspec==0.19.0
msrest==0.7.1
multidict==6.1.0
multimethod==2.0
multiprocess==0.70.16
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
neo4j==5.28.2
neo4j-graphrag==1.9.1
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numpy==2.2.6
nvidia-ml-py==12.560.30
oauthlib==3.3.1
openpyxl==3.1.5
pypdf==5.1.0
unstructured==0.16.9
pdf2image==1.16.3
paddlepaddle==2.6.1
paddleocr==2.7.0.3
Pillow==10.0.0
openai==2.8.0
openai-agents==0.5.1
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python-headless==4.10.0.84
orjson==3.10.12
outlines==0.1.11
outlines_core==0.1.26
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
paramiko==3.5.1
parso==0.8.4
partial-json-parser==0.2.1.1.post4
passlib==1.7.4
peft==0.12.0
pickleshare==0.7.5
pillow==10.4.0
pipreqs==0.5.0
pkginfo==1.12.1.2
platformdirs==4.3.6
portalocker==2.10.1
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.21.1
prompt_toolkit==3.0.51
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.2
psutil==6.1.1
psycopg2-binary==2.9.10
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-deviceid==0.1.1
py-spy==0.4.0
pyarrow==18.1.0
pyasn1 @ file:///C:/b/abs_f15ydy2f_9/croot/pyasn1_1729239810559/work
pyasn1_modules==0.4.1
pycomposefile==0.0.34
pycountry==24.6.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.12.4
pydantic-settings==2.10.1
pydantic_core==2.41.5
pydub==0.25.1
PyGithub==1.59.1
Pygments==2.18.0
PyJWT==2.10.1
pymsalruntime==0.18.1
PyMuPDF==1.26.3
PyNaCl==1.5.0
pyOpenSSL==25.1.0
pypandoc==1.15
pyparsing==3.2.0
pypdf==5.9.0
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.1
Python-EasyConfig==0.1.7
python-jose @ file:///C:/b/abs_8f84mrirc3/croot/python-jose_1750965427471/work
python-multipart==0.0.20
pytz==2024.2
pywin32==310
PyYAML==6.0.2
pyzmq==26.2.0
ray==2.40.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
Resource==0.2.1
rich==13.9.4
rouge-chinese==1.0.3
rpds-py==0.22.3
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
ruff==0.8.4
s3transfer==0.13.0
safetensors==0.4.5
scikit-learn==1.7.1
scipy==1.14.1
scp==0.13.6
semantic-version==2.10.0
semver==3.0.4
sentence-transformers==5.1.0
sentencepiece==0.2.0
shellingham==1.5.4
shtab==1.7.1
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy @ file:///C:/b/abs_275ybuj8n_/croot/sqlalchemy_1745854539419/work
sqlparse==0.5.3
sse-starlette==2.2.1
sshtunnel==0.1.5
stack-data==0.6.3
starlette==0.41.3
sympy==1.13.1
tabulate==0.9.0
tenacity==9.1.2
termcolor==2.5.0
testcontainers-core==0.0.1rc1
testcontainers-neo4j==0.0.1rc1
textdistance==4.6.3
threadpoolctl==3.6.0
tiktoken==0.7.0
tinycss2==1.4.0
tokenizers==0.20.3
tomlkit==0.12.0
torch==2.5.1
torchvision==0.20.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.46.1
trl==0.9.6
typer==0.15.1
types-PyYAML==6.0.12.20250822
types-requests==2.32.4.20250913
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==0.8.14
tzdata==2024.2
urllib3==2.3.0
uvicorn==0.34.0
virtualenv==20.28.1
watchfiles==1.0.3
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.3.3
websockets==12.0
Werkzeug==3.1.3
wrapt==1.17.0
xmltodict==0.14.2
xxhash==3.5.0
yarg==0.1.9
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
